<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FastFood</title>
    <script src="../js/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
    <script src="../js/jquery.validate.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../image/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/dangnhap.css" type="text/css" />
</head>
<body>
    
    <div class="container">
        <div id="form">
            
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h1 class="text-center" style="margin-bottom: 40px">Admin</h1>
                    <hr/>
                    <form role="form" action="/login" method="POST" style="margin:10px">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control"  placeholder="User" name="username" required>
                                <label style="background:rgb(27, 177, 40);color:white" class="input-group-addon glyphicon glyphicon-user"></label>
                            </div>
                        </div>
                        <!-- /.form-group -->

                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control"  placeholder="Password" name="password" required>
                                <label style="background:rgb(27, 177, 40);color:white" class="input-group-addon glyphicon glyphicon-lock"></label>
                            </div>
                            <!-- /.input-group -->
                        </div>
                        <div class=" text-center">
                            <button type="submit" class="btn " style="background:rgb(27, 177, 40);color:white">ĐĂNG NHẬP</button>
                        </div>
                    </form>
                    
                </div>
            </div>
            
        </div>
    </div>
    
</body>
</html>