<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content text-center">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Bạn Có Thật Sự Muốn Xóa Sản Phẩm Này</h4>
        </div>
        <div class="modal-body text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal">Huy bo</button>
            <a href='/xoaSPgh/<%=item.id%>' class="btn btn-warning">Xoa</a>
        </div>
        
      </div>
  
    </div>
  </div>