<div style="clear: both;"></div>
        <div class="row xemthem">
            <!--tieu de-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <span id="xem">Xem Thêm</span>
            </div>
            <!--tieu de-->
        </div>
        <!--xem them-->
        <!--phan hoi cua khach hang-->

        <div class="row content">
            <!--tieu de-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <p id="sphot">PHỎNG VẤN NGƯỜI NỔI TIẾNG</p>
            </div>
            <!--tieu de-->
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <i>Phản hồi của những khách hàng đã và đang sử dụng sản phẩm trong suốt những năm qua</i>
            </div>
        </div>

        <div class="row" id="phanhoi">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center  ">
                <div class="phanhoi">
                    <img src="../image/trinh1.jpg" />
                    <p>Người Mẫu - Ngọc Trinh</p>
                    <p>Là một người khá kỹ tính,tôi luôn luôn lựa chọn những thực phẩm sạch nhất.Và đây là nơi tôi đặt trọng
                        niềm tin
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center  ">
                <div class="phanhoi">
                    <img src="../image/trinh3.jpg" />
                    <p>Ca Sĩ-Hoàng Yến Chibi</p>
                    <p>Là một người khá kỹ tính,tôi luôn luôn lựa chọn những thực phẩm sạch nhất.Và đây là nơi tôi đặt trọng
                        niềm tin
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center  ">
                <div class="phanhoi">
                    <img src="../image/trinh2.jpg" />
                    <p>Diễn Viên - Angela Phương Trinh</p>
                    <p>Là một người khá kỹ tính,tôi luôn luôn lựa chọn những thực phẩm sạch nhất.Và đây là nơi tôi đặt trọng
                        niềm tin
                    </p>
                </div>
            </div>
        </div>


        <!--phan hoi cua khach hang-->
        <!--anh-->

        <div class="row" style="margin-top:30px;margin-bottom: 30px;">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                <div class="photo">
                    <img src="../image/anhfooter1.jpg"  />
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                <div class="photo">
                    <img src="../image/anhfooter2.jpg"  />
                </div>
            </div>
        </div>
        <!--anh-->
        <!--thanh toan-->
        <div class="row content">
            <!--tieu de-->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <p id="sphot">PHƯƠNG THỨC THANH TOÁN</p>
            </div>
            <!--tieu de-->
        </div>

        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <div class="thanhtoan">
                    <a href="/">
                        <img src="../image/ebay.jpg" width="100%" />
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <div class="thanhtoan">
                    <a href="/">
                        <img src="../image/visa.png" width="100%" />
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <div class="thanhtoan">
                    <a href="/">
                        <img src="../image/paypal.png" width="100%" />
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <div class="thanhtoan">
                    <a href="/">
                        <img src="../image/jcb.png" width="100%" />
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <div class="thanhtoan">
                    <a href="/">
                        <img src="../image/master.png" width="100%" />
                    </a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
                <div class="thanhtoan" >
                    <a href="/">
                        <img src="../image/popp.jpg" width="100%" />
                    </a>
                </div>
            </div>
        </div>

        <!--thanh toan-->

        <!--footer-->

        <div class="row footer">
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 footer1">
                <div>
                    <a href="/">
                        <p class="">
                            <span id="fast">Fast</span>
                            <i id="food">food</i>
                        </p>
                        <p>
                            <span>Địa chỉ:</span>12 Nguyễn Văn Bảo,Q.Gò Vấp, TPHCM </p>
                        <p>
                            <span>Số Điện Thoại:</span> 0971370494</p>
                        <p>
                            <span>Email</span>:</span>lvq@gmail.com </p>
                    </a>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 footer2">

                <p id="vct">Về Chúng Tôi</p>

                <ul>
                    <li>
                        <a href="/">
                            <p>Giới Thiệu</p>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/">
                            <p>Giao Hàng-Đổi Trả</p>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/">
                            <p>Chính Sách Bảo Mật</p>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="/">
                            <p>Liên Hệ</p>
                        </a>
                    </li>
                </ul>


            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 footer3">

                <p id="vct">Danh Mục Sản Phẩm</p>

                <ul>
                    <% data.Items.forEach((data,index)=> { %>
                        <li>
                            <a href="/product/<%= data.IdprodC%>">
                                <%= data.ten%>
                            </a>
                        </li>

                        <% }); %>
                </ul>


            </div>
            <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 footer4">

                <p id="vct">Kết Nối Với Chúng Tôi</p>
                <ul>
                    <li>
                        <a href="/">
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="fa  fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="fa fa-codepen" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <i class="fa fa-twitter-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footerBottom text-center">
                © Bản quyền thuộc về FastFood | Powered by LVQ
            </div>
        </div>

        <!--backtotop-->
        <a href="#top" class="btn-top">
            <i class="fa fa-arrow-up"></i>
        </a>
        <!--backtotop-->


        <!--footer-->
    </div>









</body>

</html>